<header>
    <img src="assets/img/logo.png" alt="some text">
</header>
<nav>
    <ul class="menu">
        <li><a href="#">Página 1</a></li>
        <li><a href="#">Página 2</a></li>
        <li><a href="#">Página 3</a></li>
    </ul>
</nav>
<div id="div1">

    <table id="styleTable">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Numero</th>
                <th>Partido</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of candidatos">
                <td>{{ c.nome }}</td>
                <td>{{ c.numero }}</td>
                <td>{{ c.partido }}</td>
            </tr>
        </tbody>
    </table>


</div>
<div id="div2" class="vertical-menu">
    <a href="#" class="active">Menu</a>
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
    <a href="#">Link 4</a>
    <a href="#">Link 5</a>
    <a href="#">Link 6</a>
    <a href="#">Link 7</a>
    <a href="#">Link 8</a>
    <a href="#">Link 9</a>
    <a href="#">Link 10</a>
    <a href="#">Link 11</a>
    <a href="#">Link 12</a>
    <a href="#">Link 13</a>
    <a href="#">Link 14</a>
    <a href="#">Link 15</a>
</div>
<footer>
    <div class="footer">
        <ul>
            <li><a href="#">Copyright AD © 2020. All rights reserved.</a></li>
            <li>
                <p>👋</p>
            </li>
        </ul>
    </div>
</footer>