body {
    background-color: #1c4958;
}

ul.menu,
.menu li,
.menu a {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    display: inline-block;
}

ul.menu,
.menu li {
    display: inline;
}

ul.menu ul {
    position: absolute;
    display: none;
    box-shadow: 3px 3px 2px #333;
}

ul.menu {
    width: 100%;
    float: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    border-radius: 5px;
}
.menu li {
    float: left;
    width: auto;
    position: relative;
}
.menu li a {
    display: block;
    padding: 0 20px;
    line-height: 45px;
    height: 45px;
    float: left;
    transition: all 0.1s linear;
}

.menu {
    background: teal;
}
.menu a {
    color: #fff;
}
.menu li:hover > a {
    background: #fff;
    color: teal;
    border-radius: 5px;
}

div {
    float: left;
    margin-top: 10px;
}
#div1 {
    background-color: rgb(205, 231, 221);
    width: 69%;
    height: 700px;
    margin-left: 3px;
    border-radius: 5px;
    margin-right: 6px;
}
#div2 {
    background-color: teal;
    width: 30%;
    height: 700px;
    border-radius: 5px;
}

.vertical-menu {
    width: 30%;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: teal;
    color: white;
}

.footer {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #002a38;
    line-height: 1.3;
    font-family: Verdana, Geneva, sans-serif;
    border-radius: 5px;
    margin-top: 10px;
}

.footer ul {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
}

@media (min-width: 500px) {
    .footer ul {
        grid-auto-flow: column;
    }
}

.footer a,
li {
    color: white;
    text-decoration: none;
    list-style: none;
}

.footer a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

.footer li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.footer li:hover ~ li p {
    animation: wave-animation 0.3s infinite;
}

.footer p {
    margin-top: 2px;
}

@keyframes wave-animation {
    0%,
    100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-15deg);
    }
}

#styleTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#styleTable td,
#styleTable th {
    border: 1px solid #fff;
    padding: 8px;
}

#styleTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#styleTable tr:hover {
    background-color: #fff;
}

#styleTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: teal;
    color: white;
}
